body {
  font-family : 'Questrial', sans-serif;
  background-color: #FFFAEB;
  color: #452B46;
}

a:link, a:visited, a:hover, a:active {
  color: #452B46;
}

img.thumb {
  border-radius: 0%;
  height: 200px;
  width: 200px;
}

#nav {
  background-color: #7b8d42;
}

#about, #social, #footer {
  margin-top : 1em;  
}
