<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="masahikomori.github.io" name="Keywords" />
  <meta content="masahikomori.github.io" name="Description" />
  <meta content="masahikomori" name="Author" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title id="title">masahikomori</title>
  <link rel="icon" href="./img/favicon.ico" type="image/x-icon" /> 
  <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" rel="stylesheet" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.min.css" rel="stylesheet"/>
  <link href="./css/style.css" rel="stylesheet"/>
</head>
<body>

<div id="navigation">
  <elem></elem>
</div><!-- navigation -->

<div class="container">

  <div class="row">

    <!-- about -->
    <div class="col-md-12 text-center" id="about">
      <img v-bind:src="lists.avatar_url" class="thumb"/>
      <h3>{{lists.name}}</h3>
      <p>{{lists.bio}}</p>
      <p>{{lists.company}}</p>
      <p>{{lists.location}}</p>
    </div>

    <!-- Social -->
    <div class="col-md-12 text-center" id="social">
      <p v-for="item in items.list" style="display: inline;">
        <a href="#" v-bind:href="item.url" target="_blank"><i v-bind:class="item.icon" aria-hidden="true"></i></a>&nbsp;
      </p>
    </div>  

  </div><!-- row -->

  <div class="row">

    <!-- Repogitory -->
    <div class="col-md-4" id="repo">
      <h3>{{head}}<br><small>{{description}}</small></h3>
      <ul>
        <li v-for="(list, index) in lists" v-if="index < 3">
          <p><a href="#" v-bind:href="list.html_url" target="_blank">{{list.name}}</a>&nbsp;-&nbsp;<small>{{list.description}}</small></p>
        </li>
      </ul>
      <div v-if="lists.length > 3">
        <a href="#" class="btn btn-primary btn-md" role="button" aria-pressed="true" v-bind:href="more" target="_blank">Show more</a>
      </div>
    </div>

    <!-- Gist -->
    <div class="col-md-4" id="gist">
      <h3>{{head}}<br><small>{{description}}</small></h3>
      <ul>
        <li v-for="(list, index) in lists" v-if="index < 3">
          <div v-for='file in list.files'>
            <p><a href="#" v-bind:href="list.html_url" target="_blank">{{file.filename}}</a>&nbsp;-&nbsp;<small>{{list.description}}</small></p>
          </div>
        </li>
      </ul>
      <div v-if="lists.length > 3">
        <a href="#" class="btn btn-primary btn-md" role="button" aria-pressed="true" v-bind:href="more" target="_blank">Show more</a>
      </div>
    </div>

    <!-- Contact -->
    <div class="col-md-4" id="contact">
      <h3>{{head}}<br><small>{{description}}</small></h3>
      <p>{{about}}</p>
      <p><a href="#" v-bind:href="url" class="btn btn-primary" role="button" target="_blank">Contact form</a></p>
    </div>
    
  </div><!-- row -->
 
  <div class="row" class="card-row">
    <!-- Activity -->
    <div class="col-md-12" id="activity">
      <h3>{{head}}<br><small>{{description}}</small></h3>
      <div v-for="item in items.list">
        <div class="card col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 card-margin">
          <a v-bind:href="item.icon" data-lightbox="list">
            <img class="card-img-top img-responsive center-block pic-size" v-bind:src="item.icon"/>
          </a>
          <div class="card-body">
            <h5 class="card-title">{{item.head}}</h5>
            <p class="card-text">{{item.detail}}</p>
            <div v-if="item.btn1 != ''" style="display: inline;">
              <a v-bind:href="item.btn1" class="btn btn-primary" target="_blank">More</a>
            </div>
            <div v-else style="display: inline;">
              <a v-bind:href="item.btn1" class="btn btn-primary" target="_blank" style="visibility:hidden;">More</a>
            </div>
            <div v-if="item.btn2 != ''" style="display: inline;">
              <a v-bind:href="item.btn2" class="btn btn-primary" data-lightbox="list">Detail</a>
            </div>
            <div v-else style="display: inline;">
              <a v-bind:href="item.btn2" class="btn btn-primary" data-lightbox="list" style="visibility:hidden;">Detail</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div><!-- row -->

  <!-- Footer -->
  <footer id="footer" class="footer-margin">
    <elem></elem>
  </footer>

</div><!-- container -->

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox.min.js"></script>
<script src="./js/default.js"></script>
</body>
</html>
